<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="baxtech_clinicConnectionString" connectionString="Data Source=(local);Initial Catalog=baxtech_clinic;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="LocalSqlConnection" connectionString="Data Source=(local);Initial Catalog=aspnetdb;Integrated Security=true;" />
    <add name="baxtech_clinicEntities" connectionString="metadata=res://*/ClinicDb.csdl|res://*/ClinicDb.ssdl|res://*/ClinicDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=baxtech_clinic;Integrated Security=True;MultipleActiveResultSets=True; Connect Timeout=30&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>

    <pages theme="Default" />
    
    <authentication mode="Forms">
      <forms name="baxtech_clinicAuth" loginUrl="Login.aspx" />
    </authentication>

    <roleManager enabled="true" cookieName="baxtech_clinicRole" cookieSlidingExpiration="true">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="LocalSqlConnection" />
      </providers>
    </roleManager>

    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="1" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" enablePasswordRetrieval="false" enablePasswordReset="false" connectionStringName="LocalSqlConnection" />
      </providers>
    </membership>

    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <clear />
        <add name="XmlSiteMapProvider" description="Default SiteMap provider." type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
  </system.web>

  <location path="User">
    <system.web>
      <authorization>
        <allow roles="Clerk,Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="Admin" />
        <deny users="*" />
      </authorization>

      <pages theme="Admin" />
    </system.web>
  </location>
</configuration>
