body
{
    font-family: Sans-Serif; 
}

h1, h2, h3, h4
{
    color: #555555;
}

#CommonControlsBar
{
    height: 175px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url(Images/ban_bg.png);
    background-repeat: repeat-x;
    vertical-align:bottom;
}

#LogoImage
{
    float: left;
}

#PageBox
{
    width: 800px;
    margin: auto;   
    background-color: #FAF9F9;
    border: 3px double #AA6633;
}

#PageContent
{
    border-top: 1px solid #555555;
    padding: 10px;
}

#NavBar
{
    float: left;
    padding: 5px;
    margin: 5px;
    margin-left: -50px;
    background-color: #F7F6F3;
    border: 1px solid #555555;
}

#AspLoginStatus
{
    float: right;
    padding: 5px;
    margin: 5px;
    background-color: #F7F6F3;
    border: 1px solid #555555;
    color: #7C6F57;
}

.DoctorPanel
{
    background-color: #EEEEEE;
    font-weight: bold;
    color: #333333; 
}